h3{
    font-family: cursive;
    color: red;
    text-align: center;
    margin-top: 20px;
}

img{
  
   height: 120px;
   width: 120px;
   
}


.verification{
justify-items: center;
margin-top: 60px;

}

input{
border-radius: 10px;
height: 30px;
width:100%;
margin-top: 20px;

}

.verification-form-buttom{
   
margin-top: 20px;
width:60%;
height: 30px;
border-radius: 10px;
background-color: red; 
color:white;
font-family: cursive; 
margin: 20px auto;
display: block;
}