




<div class="login-up-form">
    <form action="" method="POST">
    
        <div class="col-5 offset-sm margin-bottom-15">
            <label for="email">User Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter user email" required>
        </div>
    
        <div class="col-5 offset-sm margin-bottom-15">
            <label for="password">User Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter user password" required>
        </div>

        
        <a>Did you forget the password?</a>
         <br>
    
        <button type="submit" class="login-button" name="login">Login</button>
     
    </form>
    
    </div>
    
    
    <div class="image-container" [@fadeIn]="imageAnimation">
        <img src="https://cdn.pixabay.com/photo/2013/07/12/16/23/interrogation-point-150807_1280.png" alt="image">
        <h4>Login Here</h4>
      </div>
    
    
      