.answer-list{
    border: 1px solid #ddd;
    padding: 10px 20px 15px 10px;
    margin: 10px 0; /* Adds vertical spacing between elements */
    border-radius: 10px;
    display: block; /* Makes each div take up its own row */
    width: fit-content; /* Ensures the width matches the content size */
    margin-left: 20px;
    
}

svg{
    height: 20px;
    width: 20px;
    border: 1px white;
    margin: 2px;
}

button
{
border: #ddd;
}

p{
font-family: cursive;
}