<div class="edit">



<div class="post-question-section">
    <button mat-button (click)="closeModal()">Close</button>



    <form (ngSubmit)="editQuestion()">
        <h3>Questions</h3>    

        <div class="col-5 offset-sm margin-bottom-15">
            <label for="title" >Title</label>
            <input type="text" class="form-control"  placeholder="Add Title..." [(ngModel)]="addQuestion.title" name="title"  required>
        </div>
    
       <div class="col-5 offset-sm margin-bottom-15" >
            <label for="text">Description</label>
            <textarea rows="5" cols="60"placeholder  ="Add Description.." [(ngModel)]="addQuestion.description" name="description" ></textarea>
        </div> 

        <input  [(ngModel)]="this.addQuestion.questionId" name="questionId"   hidden>

   
        
       
        <button type="submit">Post</button>
    
    </form>


</div>




</div>





