

button{
    background-color: rgb(252, 13, 13);
    width: 60px;
    height: auto;
}

input{
    width: 120%;
    border-radius: 10px;
}

textarea{
    border-radius: 10px;
    width: 200%;
}